
h1 {
    color: navy;
    font-size: large;
}

img {
    height="20%";
    width="100%";
}

.topnav {
    background-color: #9DC3E6;
    overflow: hidden;
    border-bottom: 8px solid #59b7eefa;
}


.textcontainer {
    border: 4px cadetblue;
}